rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function validMedia() {
      return request.resource.size < 25 * 1024 * 1024
        && (request.resource.contentType.matches('image/.*')
          || request.resource.contentType.matches('video/.*')
          || request.resource.contentType == 'application/pdf'
          || request.resource.contentType.matches('text/.*')
          || request.resource.contentType == 'application/msword'
          || request.resource.contentType == 'application/vnd.openxmlformats-officedocument.wordprocessingml.document');
    }
    match /{allPaths=**} {
      allow read: if signedIn();
      allow write: if signedIn() && validMedia();
    }
  }
}
